<div *ngIf="(isCartEmpty$ | async); then emptyBlock"></div>
<ng-template #emptyBlock>
  <h4 class="text-info">
    Don't you want to buy something?
  </h4>
</ng-template>

<div *ngIf="(stickers$ | async)?.length">
  <h4>Stickers:</h4>
</div>
<div class="row">
  <div *ngFor="let sticker of stickers$ | async" style="margin: 10px" class="card text-center">
    <div class="card-header">
      {{ sticker.name }}
      <i (click)="removeSticker(sticker)" class="fa fa-times fa-2x pull-right" style="color: darkred;" aria-hidden="true"></i>
    </div>
    <img [src]="sticker.imageUrl" style="margin: auto" class="card-img-bottom">
  </div>
</div>

<div *ngIf="(tshirts$ | async)?.length">
  <h4>Tshirts:</h4>
</div>
<div class="row">
  <div *ngFor="let tshirt of tshirts$ | async" style="margin: 10px" class="card text-center">
    <div class="card-header">
      {{ tshirt.name }}
      <i (click)="removeTshirt(tshirt)" class="fa fa-times fa-2x pull-right" style="color: darkred;" aria-hidden="true"></i>
    </div>
    <img [src]="tshirt.imageUrl" style="margin: auto" class="card-img-bottom">
  </div>
</div>
